@model FileConverter.ViewModels.DocumentFileViewModel

@{
    ViewData["Title"] = "Fetch";
}

<h1>Fetch</h1>


<div>
    @using (Html.BeginForm("Fetch", "XlsxToJson", FormMethod.Post))
    {
        <input type="submit" value="Get data" />
    }
    @if (Model.ExcelSheet.Table != null)
    {
        <hr />
        <table cellpadding="0" cellspacing="0" border="1">
            <tr>
                @foreach (var table in Model.ExcelSheet.Table)
                {
                    foreach (var item in table) // 99
                    {
                        <td>@item</td>
                    }
                }
            </tr>
        </table>
    }
</div>
