@model FileConverter.ViewModels.DocumentFileViewModel


@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1><strong>ALECTA</strong> file converter</h1>
    <p>More info will follow soon.</p>
</div>
